.new-blog {
    /*border: 2px dashed red;*/
    display: flex;
    flex-direction: column;
    width: 50%;
}

textarea {
    width: 100%;
    border: none;
    border-radius: 5px;
    margin: 20px 0;
    padding: 5px;
}

.error-message {
    color: red;
}